exclude .gitignore
exclude .gitreview

include AUTHORS
include ChangeLog
include requirements.txt
include etc/*.yaml
include etc/accounts/*.yaml
include cloudmesh_management/*
include cloudmesh_management/plugins/*
include tests/*

global-exclude *.pyc

